[submodule "fract-ol/minilibx-linux"]
	path = fract-ol/minilibx-linux
	url = https://github.com/42Paris/minilibx-linux.git
[submodule "minishell"]
	path = minishell
	url = https://github.com/cryonayes/minishell.git
[submodule "cub3d"]
	path = cub3d
	url = git@github.com:Fatihcill/cub3d.git
[submodule "ft_containers"]
	path = ft_containers
	url = https://github.com/Fatihcill/ft_containers.git
[submodule "Inception"]
	path = Inception
	url = https://github.com/Fatihcill/Inception.git
[submodule "ft_irc"]
	path = ft_irc
	url = https://github.com/cryonayes/ft_irc.git
